.card {
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*max-width: 1500px*/
}

.component1 {
    margin-top: 20px;
    cursor: pointer;
    width: 100%; /* Kích thước cố định */
    height: 100px; /* Kích thước cố định */
    border-radius: 4px;
    position: relative; /* Đặt relative để căn chỉnh tuyệt đối các nút bên trong */
    overflow: hidden; /* Ẩn nội dung vượt quá kích thước */
    margin-bottom: 15px;
}

.component2 {
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 0px;
    background-color: #f9f9f9;
}

/*.note {*/
/*    padding: 5px;*/
/*    border-radius: 3px;*/
/*    !*background-color: #f1f1f1;*!*/
/*    font-size: 1.2rem; !* Kích thước chữ cho mặt trước *!*/
/*}*/

.note-content {
    display: flex;          /* Sử dụng Flexbox */
    align-items: center;    /* Căn giữa theo chiều dọc */
    gap: 10px;              /* Khoảng cách giữa button và văn bản */
    font-size: 1.1rem;
}


.btn-speech-note, .btn-speech {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.btn-speech-note:hover, .btn-speech:hover {
    background-color: #0056b3;
}

.component1-content {
    font-size: 1rem; /* Kích thước chữ giảm cho nội dung nhỏ hơn */
    text-align: left; /* Mặc định căn trái */
    overflow: hidden; /* Ẩn nội dung vượt quá kích thước */
    /*white-space: nowrap; !* Ngăn chặn dòng chữ bị xuống dòng *!*/
    text-overflow: ellipsis; /* Thêm dấu ba chấm nếu văn bản quá dài */
    white-space: pre-wrap
}

.front-content {
    font-size: 2.5rem; /* Kích thước chữ cho mặt trước */
    text-align: center; /* Căn giữa cho mặt trước */
}

.back-content {
    font-size: 1.3rem; /* Kích thước chữ cho mặt sau */
    text-align: left; /* Căn trái cho mặt sau */
    /*text-align: center;*/
    display: flex;
}

.component1-buttons {
    position: absolute; /* Đặt tuyệt đối để căn chỉnh vị trí của các nút */
    bottom: 10px; /* Căn cách đáy của component1 */
    right: 10px; /* Căn cách bên phải của component1 */
    display: flex;
    gap: 10px; /* Khoảng cách giữa các nút */
}
