.list-container {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    padding: 20px;
    margin-left: 300px;
}

.btn-reset {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 12%
}

.btn-reset:hover {
    background-color: #0056b3;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tạo 6 cột */
    gap: 20px; /* Khoảng cách giữa các thẻ */
    width: 90%; /* Đảm bảo chiếm toàn bộ chiều rộng container */
    /*max-width: 100px; !* Tùy chỉnh chiều rộng tối đa cho grid *!*/
}
