.sidebar {
  width: 220px; /* Kích thước sidebar */
  height: 100vh; /* Chiều cao đầy đủ của viewport */
  background-color: #ffffff; /* Màu nền sidebar */
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 2px solid #d9cda2; /* Đường viền bên phải */
  color: #DC143C; /* Màu chữ */
  font-family: Arial, sans-serif; /* Font chữ */
  overflow-y: auto; /* Cuộn dọc nếu cần */
}

.sidebar h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #DC143C;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #DC143C; /* Màu chữ của các liên kết */
  font-size: 18px;
  display: block;
  padding: 10px;
  border-radius: 4px;
}

.sidebar ul li a:hover {
  background-color: #DCDCDC; /* Màu nền khi hover */
  color: #DC143C; /* Màu chữ khi hover */
}

.sidebar ul li a.active {
  background-color: #DCDCDC; /* Màu nền cho liên kết đang hoạt động */
  color: #DC143C; /* Màu chữ cho liên kết đang hoạt động */
}

.sidebar ul li a .icon {
  margin-right: 10px; /* Khoảng cách giữa icon và chữ */
  font-size: 20px; /* Kích thước icon */
}
